sudo: required

os:
  - linux
  - osx

language: go
go:
  - 1.9.x

install:
  - make deps

script:
  - sudo bash ./.fixup-environment.sh
  - ulimit -n 4096; bash <(curl -s https://raw.githubusercontent.com/ipfs/ci-helpers/master/travis-ci/run-standard-tests.sh)

cache:
  directories:
    - $GOPATH/src/gx

notifications:
  email: false

env: GOTFLAGS="-race -cpu=5"
