name: Tag Push Checker

on:
  push:
    tags:
      - v*

permissions:
  contents: read
  issues: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  releaser:
    uses: pl-strflt/uci/.github/workflows/tagpush.yml@v1.0
    secrets: inherit
